[submodule "stacks-website"]
	path = stacks-website
	url = https://github.com/stacks/stacks-website
	ignore = dirty
[submodule "stacks-tools"]
	path = stacks-tools
	url = https://github.com/stacks/stacks-tools
	ignore = dirty
[submodule "docker-texlive"]
	path = docker-texlive
	url = git@github.com:mqzry/docker-texlive.git
